body{
    font-family: sans-serif;
    margin:0;
    padding:0;
    background-color: #902121;
    color; #333;
}
.container{
max-width: 600px;
margin: 40px auto;
padding: 20px 30px;
background-color: #7f5ed2;
broder-radius: 8px;
box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
